meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
title= "Bueninvento | Agencia digital"
meta(content="es",name="language")
meta(name="description",content="Bueninvento | Agencia digital")
meta(name="apple-mobile-web-app-capable",content="yes")
meta(name="viewport",content="width=device-width, initial-scale=1.0")
meta(name="description",content="Bueninvento: agencia digital especializada en el desarrollo de aplicaciones, branding digital, páginas web y campañas de marketing online")
meta(name="keywords",content="branding digital, empresa de diseño web, desarrollo web, diseño aplicaciones, apps, marketing online, community manager, startup, diseño web Valencia")
meta(name="author",content="Bueninvento")
//- Iconos
link(rel="icon",href="static/favicon.ico")

//- link(rel="stylesheet/less",href="static/css/app.less")
link(rel="stylesheet",href="static/css/app.css")

//if lt IE 9
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

//- script(src="static/js/vendor/less.js",type="text/javascript")
