meta(charset="utf-8")
meta(name="description",content="Bueninvento | Agencia digital")
meta(name="apple-mobile-web-app-capable",content="yes")
meta(name="viewport",content="width=device-width, initial-scale=1.0")
meta(name="description",content="Bueninvento: agencia digital")
meta(name="author",content="Bueninvento")
//- Variable tituloPagina
title= "Bueninvento | Agencia digital"
//- Iconos
link(rel="icon",href="static/favicon.ico")

link(rel="stylesheet/less",href="static/css/app.less")
//link(rel="stylesheet",href="static/css/app.css")

//if lt IE 9
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

script(src="static/js/vendor/less.js",type="text/javascript")
