.navbar.navbar-fixed-top#navigation
  .navbar-inner
    .container
      a.brand(href="#intro")
        img.corazonlogo(src="static/img/logo.png",alt="")
        img.logoletras(src="static/img/logo2.png",alt="")
      .colapsar.visible-phone
        img(src="static/img/colapse.png",alt="")
      .nav-collapze.collapze
        ul.nav.pull-right.segunda
          li.normalli
            a(href="#intro")
              | Inicio
          li.normalli
            a(href="#services-top")
              | Principios
          li.normalli
            a(href="#ticlientes")
              | Clientes
          li.normalli
            a.capacidadeslink(href="#capacilink")
              | Capacidades
          li.normalli
            a(href="#contenedorproyectos")
              | Casos
          li.normalli
            a.equipoboton(href="#fernando")
              | Equipo
          li.normalli
            a(href="#contact")
              | Contacto
          li.casosli.cerrar
          li.casosli.siguiente
          li.casosli.anterior
        ul.nav.pull-right
          li.casosli.cerrar
          li.casosli.siguiente
          li.casosli.anterior