section#capacilink
section#works
    .separaador
    .container
      .row.divide
        .span12.contienecap
          #eltitulo
            h2 Capacidades
          ul#filterOptions
            li.active
              a.all(href='#') Todas
            li
              a.estrategia(href='#') Estrategia digital
            li
              a.disenyo(href='#') Diseño e interacción
            li
              a.desarrollo(href='#') Desarrollo
            li
              a.contenidos(href='#') Contenidos
          ul.ourHolder
            li.item(data-id='id-1', data-type='estrategia')
              .sprite.spbranding
              h3 Branding digital
            li.item(data-id='id-2', data-type='estrategia')
              .sprite.spcampanyas
              h3 Campañas interactivas
            li.item(data-id='id-3', data-type='estrategia')
              .sprite.spdireccioncreativa
              h3 Dirección creativa
            li.item(data-id='id-4', data-type='estrategia')
              .sprite.spsocialmedia
              h3 Social media
            li.item(data-id='id-5', data-type='disenyo')
              .sprite.spdisenyo
              h3 Diseño de interfaz e interacciones
            li.item(data-id='id-6', data-type='disenyo')
              .sprite.spilustracion
              h3 Ilustración
            li.item(data-id='id-7', data-type='disenyo')
              .sprite.spconsultoria
              h3 Consultoría de usabilidad
            li.item(data-id='id-8', data-type='disenyo')
              .sprite.sparquitectura
              h3 Arquitectura de la información
            li.item(data-id='id-9', data-type='desarrollo')
              .sprite.spmovil
              h3 Móvil
            li.item(data-id='id-10', data-type='desarrollo')
              .sprite.spfrontend
              h3 Frontend
            li.item(data-id='id-11', data-type='desarrollo')
              .sprite.spbackend
              h3 Backend
            li.item(data-id='id-12', data-type='desarrollo')
              .sprite.spdesktop
              h3 Desktop
            li.item(data-id='id-13', data-type='contenidos')
              .sprite.spcopywriting
              h3 Copywriting
            li.item(data-id='id-14', data-type='contenidos')
              .sprite.spseo
              h3 SEO y SEM