section#gallery
    .container.casos
        .row.divide.span12
          #eltitulo2
            h2
            h3 Los proyectos
            h5 que le han dado sentido a estos años
          #contenedorproyectos
            .parte.pizquierda
              ul.anverso
                li.p01
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span Joinity
                      | Cliente
                      span Joinity
                  img.bn(src='static/img/joinitybn.png', alt='')
                  img.rgb(src='static/img/joinityrgb.png', alt='')
                li.p02
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span Hello, Doctor
                      | Cliente
                      span Toyshock™
                  img.bn(src='static/img/hellodoctorbn.png', alt='')
                  img.rgb(src='static/img/hellodoctorrgb.png', alt='')
                li.p03
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span
                        | El crack de
                        br
                        | los goles
                      | Cliente
                      span Kelme
                  img.bn(src='static/img/kelmebn.png', alt='')
                  img.rgb(src='static/img/kelmergb.png', alt='')
                li.p04
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span La pepri
                      | Cliente
                      span PSOE
                  img.bn(src='static/img/pepribn.png', alt='')
                  img.rgb(src='static/img/peprirgb.png', alt='')
                li.p05
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span Iceberg
                      | Cliente
                      span Iceberg
                  img.bn(src='static/img/icebergbn.png', alt='')
                  img.rgb(src='static/img/icebergrgb.png', alt='')
                li.p06
                  .pbadge.img-circle
                    .imag
                    p
                      | Proyecto
                      span Huelli
                      | Cliente
                      span Consum
                  img.bn(src='static/img/huellibn.png', alt='')
                  img.rgb(src='static/img/huellirgb.png', alt='')
            .parte.pderecha

              .parriba
                ul#tabs.navs.nav-tabs(data-tabs='tabs')
                  li.active
                    a(href='#maswebs', data-toggle='tab') Más proyectos
                  li
                    a(href='#masapps', data-toggle='tab') Más apps
                #my-tab-content.tab-content
                  #maswebs.tab-pane.active
                    a.miniim(href='#gallery_1', data-toggle='lightbox')
                      img(src='static/img/carmenjorda.png', alt='')
                    a.miniim(href='#gallery_2', data-toggle='lightbox')
                      img(src='static/img/frankandpier.png', alt='')
                    a.miniim(href='#gallery_3', data-toggle='lightbox')
                      img(src='static/img/marval(1).png', alt='')
                    a.miniim(href='#gallery_4', data-toggle='lightbox')
                      img(src='static/img/meydis(1).png', alt='')
                  #masapps.tab-pane
                    a.miniim(href='#gallery_5', data-toggle='lightbox')
                      img(src='static/img/llocdejocs.png', alt='')
                    a.miniim(href='#gallery_6', data-toggle='lightbox')
                      img(src='static/img/micita.png', alt='')
                    a.miniim(href='#gallery_7', data-toggle='lightbox')
                      img(src='static/img/upstyle.png', alt='')
              #gallery_1.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/carmenjorda.png', alt='')
                  .lightbox-caption
                    p Carmen Jordá, piloto de gp3 - Diseño y desarrollo de website
              #gallery_2.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/frankandpier.png', alt='')
                  .lightbox-caption
                    p Frank & Pier, el arte del detalle - Diseño y desarrollo de website
              #gallery_3.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/marval(1).png', alt='')
                  .lightbox-caption
                    p Marval, Suministros que dan vida a tu hogar - Diseño y desarrollo de website
              #gallery_4.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/meydis(1).png', alt='')
                  .lightbox-caption
                    p Meydis - Diseño y desarrollo de landing page
              #gallery_5.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/llocdejocs.png', alt='')
                  .lightbox-caption
                    p Lloc de jocs, digital playground - App para tablets
              #gallery_6.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/micita.png', alt='')
                  .lightbox-caption
                    p miCita - Facebook app
              #gallery_7.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .lightbox-content
                  img(src='static/img/upstyle.png', alt='')
                  .lightbox-caption
                    p Upstyle - App comercial para tablets
              .pabajo
                .pabheader
                  h2
                    span.icochem
                    | Los ingredientes
                .pabbody
                  ul
                    li
                      p
                        | Coda
                      .fondbar
                        .gradobar(data-grado='100')
                    li
                      p
                        | Moleskine
                      .fondbar
                        .gradobar(data-grado='90')
                    li
                      p
                        | Adobe CS6
                      .fondbar
                        .gradobar(data-grado='100')
                    li
                      p
                        | Evernote
                      .fondbar
                        .gradobar(data-grado='75')
                    li
                      p
                        | Wunderlist2
                      .fondbar
                        .gradobar(data-grado='80')
                    li
                      p
                        | Firebug
                      .fondbar
                        .gradobar(data-grado='85')
                    li
                      p
                        | MindNode
                      .fondbar
                        .gradobar(data-grado='60')
                    li
                      p
                        | B. Mockups
                      .fondbar
                        .gradobar(data-grado='55')
                    li
                      p
                        | Eclipse
                      .fondbar
                        .gradobar(data-grado='70')
                    li
                      p
                        | Xcode
                      .fondbar
                        .gradobar(data-grado='85')
