#tclientes.timeline
    .contenetime
        ul.timelementos
          li.anyo.abajo
            p 2010
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.sppsoe
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spculdesac
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spgrupoborges
          li.anyo.abajo
            p 2011
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spmarval
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spmeydis
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spiceberg
          li.anyo.abajo
            p 2012
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spkelme
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spestimado
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spnep
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spjoinity
          li.anyo.abajo
            p 2013
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spconsum
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.sptoyshock
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spengloba
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.spjorda
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                .sprite.sphavas
        .linea
