#tclientes.timeline
    .contenetime
        ul.timelementos
          li.anyo.abajo
            p 2010
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/psoe.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/culdesac.png', alt='')
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/grupoborges.png', alt='')
          li.anyo.abajo
            p 2011
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/marval.png', alt='')
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/meydis.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/iceberg.png', alt='')
          li.anyo.abajo
            p 2012
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/kelme.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/estimado.png', alt='')
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/nep.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/joinity.png', alt='')
          li.anyo.abajo
            p 2013
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/consum.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/toyshock.png', alt='')
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/engloba.png', alt='')
          li.marca.abajo
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/clientes/jorda.png', alt='')
          li.marca.arriba
            .circulou.img-circle
              span.minicirculo.img-circle
            .globo
              .pico
              .logomarca
                img(src='static/img/havas.png', alt='')
        .linea
