section#team
  .container
    .row.divide.micontequipo
      .span8.offset2
        .leyenda
          .iconoos
            .icono.bici
            .icono.mac
            .icono.nike
          br
          h1.normal Nuestro equipo
          h1.avatar Nuestros alters egos
          br
          .lalinea
        #menuequipo
          #miniequipo
            a.fer(href='#fernando')
            a.sara(href='#sara')
            a.toni(href='#toni')
            a.vero(href='#veronica')
            a.eva(href='#eva')
            a.jordi(href='#jordi')
        #todoslosmiembros
          #fernando.elequipo
            .fotoizda
              //- img.avatar(src='static/img/fernando2.png', alt='')
              img.normal(src='static/img/fernandobn.png', alt='')
            .eltext
              h1
                | Fernando Guirao
              h3
                span Fundador
                span Director creativo
              p
                | De formación humanística –filológo y autor de cinco libros–, la pasión de Fernando por la comunicación le llevó hace nueve años a especializarse en los nuevos canales tecnológicos y fundar Bueninvento. Actualmente, coordina el departamento de branding digital de la agencia, y destina sus escasas horas libres a cuidar de su bulldog, leer cómics y tocar el piano.
          #sara.elequipo
            .eltext
              h1
                | Sara García
              h3
                span Social media
              p
                | Su doctorado en Derecho y Teoría de la comunicación le llevó a interesarse por los nuevos modelos de interacción digital. Las redes sociales son su objeto de estudio y cada uno de nuestros proyectos supone para ella una oportunidad de aprendizaje y experimentación. En su tiempo libre siempre hay hueco para el blues del delta del Mississipi, un paseo por Azeroth o una buena película de cine negro.
            .fotodcha
              //- img.avatar(src='static/img/sara2.png', alt='')
              img.normal(src='static/img/sarabn.png', alt='')
          #toni.elequipo
            .fotoizda
              //- img.avatar(src='static/img/toni2.png', alt='')
              img.normal(src='static/img/tonibn.png', alt='')
            .eltext
              h1
                | Toni Espinosa
              h3
                span Backend
              p
                | Toni es el especialista en backend de Bueninvento, ingeniero informático por la UPV y programador de C++, Python, Ruby on Rails y PHP. Su curiosidad por casi cualquier clase de subcultura le ha llevado a manejar con igual fluidez el terminal de nuestro servidor y a sus personajes de Guild Wars.
          #veronica.elequipo
            .eltext
              h1
                | Verónica Chelos
              h3
                span New business
              p
                | Verónica ha trabajado como coordinadora de cuentas para algunas de las más importantes agencias de publicidad nacionales durante los últimos 15 años. Sus dotes para la psicología y la comunicación la definen como una profesional resolutiva, proactiva y empática, apreciada por el cliente e imprescindible para sus compañeros.
            .fotodcha
              img(src='static/img/veronicabn.png', alt='')
          #eva.elequipo
            .fotoizda
              img(src='static/img/evabn.png', alt='')
            .eltext
              h1
                | Eva García
              h3
                span Frontend
              p
                | Después de casi diez años dirigiendo equipos de programadores en empresas de alcance nacional, Eva aporta a Bueninvento versatilidad y eficiencia, saltando del frontend al backend a las bases de datos sin esfuerzo y con la creatividad como insignia.
          #jordi.elequipo
            .eltext
              h1
                | Jordi Sempere
              h3
                span Música
                span diseño de sonido
              p
                | Jordi aprendió a tocar la guitarra muy pronto, fascinado por Michael Jackson y la música de Willy Fogg. Tras militar en distintas bandas y estudiar ingeniería de sonido, compone y produce música para ficción y publicidad, con clientes y directores como SM, Aston Martin o Juan Carlos Fresnadillo y Elvira Lindo. Paralalemente, lleva a cabo su propio proyecto de música y diseño de sonido en
                a(href='http://jordisempere.com/', target='_blank') jordisempere.com
                | .
            .fotodcha
              img(src='static/img/jordibn.png', alt='')
