section#intro.hidden-phone
    .container
        .row
          .span8.offset2.margin25
            #carousel_fade_intro.carousel.slide.carousel-fade
              .carousel-inner
                .active.item
                  h2
                    | Comunicación digital
                    br
                    | para personas
                .inactive.item
                  h2
                    | no consumidores,
                    br
                    | ni seguidores ni autómatas.
                .inactive.item
                  h2 Somos Bueninvento.
                .fin.inactive.item
                  h4 Haz click en los globos rojos para conocernos
      #more.fadeInUp.delay.animated.hidden-phone
        a.m-btn.a-btn.red.big.icn-only(href='#services-top')
          i.icon-sort-down.icon-3x.pull-left
      #introfondo
        .dibujo(data-tipo='corazon', data-columnas='16', data-filas='13')
          .circulo.g1(data-columna='3', data-fila='8', data-globo='g1')
            a(href='http://www.facebook.com/photo.php?fbid=510531629005047&set=a.422608284464049.98221.282634465128099&type=1&relevant_count=1', target='_blank')
              .sprite.sp2
              .leyenda
                p.titulo
                  | Un viaje en píxeles de la Tierra a Marte. Genial experimento de dos diseñadores británicos.
                p.subtitulo
                  | Publicado el 18 de abril de 2013.
                  br
                  span Desde Facebook.
          .circulo.g2(data-columna='5', data-fila='10', data-globo='g2')
            a(href='http://www.theverge.com/2013/3/10/4086392/samsung-golden-krishna-the-best-interface-is-no-interface', target='_blank')
              .sprite.sp3
              .leyenda
                p.titulo
                  | La interfaz perfecta es invisible y se adapta con naturalidad al comportamiento –y procesos cognitivos– del usuario.
                p.subtitulo
                  | Publicado el 13 de marzo de 2013.
                  br
                  span Desde Facebook.
          .circulo.g3(data-columna='6', data-fila='6', data-globo='g3')
            a(href='http://www.facebook.com/photo.php?fbid=493931690665041&set=a.422608284464049.98221.282634465128099&type=1&relevant_count=1', target='_blank')
              .sprite.sp4
              .leyenda
                p.titulo
                  | Cosas que 'también' ocurren en España: un grupo de profesores de Castilla la Mancha llena de robots las aulas de sus institutos.
                p.subtitulo
                  | Publicado el 6 de marzo de 2013.
                  br
                  span Desde Facebook.
          .circulo.g4(data-columna='12', data-fila='6', data-globo='g4')
            a(href='http://www.facebook.com/photo.php?fbid=488737521184458&set=a.422608284464049.98221.282634465128099&type=1&relevant_count=1', target='_blank')
              .sprite.sp5
              .leyenda
                p.titulo Nuestro ilustrador favorito, Edward Gorey, en el doodle de hoy.
                p.subtitulo
                  | Publicado el 22 de febrero de 2013.
                  br
                  span Desde Facebook.
          .circulo.g5(data-columna='12', data-fila='11', data-globo='g5')
            a(href='http://www.facebook.com/photo.php?fbid=488737521184458&set=a.422608284464049.98221.282634465128099&type=1&relevant_count=1', target='_blank')
              .sprite.sp6
              .leyenda
                p.titulo
                  | Un placer colaborar con el ilustrador Lawerta en el proyecto de su nueva web. Para ir abriendo boca, esta landing temporal.
                p.subtitulo
                  | Publicado el 6 de junio de 2013.
                  br
                  span Desde Facebook.
          .circulo.g6(data-columna='7', data-fila='9', data-globo='g6')
            a(href='http://www.digitalbuzzblog.com/royal-london-hospital-interactive-installation/', target='_blank')
              .sprite.sp7
              .leyenda
                p.titulo
                  | Cuando la tecnología se pone al servicio de piratas chillones y monstruos traviesos...
                p.subtitulo
                  | Publicado el 21 de febrero de 2013.
                  br
                  span Curiosidades.
          .circulo.g7(data-columna='9', data-fila='12', data-globo='g7')
            a(href='https://www.facebook.com/photo.php?fbid=485683828156494&set=a.422608284464049.98221.282634465128099&type=1&theater', target='_blank')
              .sprite.sp1
              .leyenda
                p.titulo
                  | Huelli, la ecomascota de Consum desarrollada por Bueninvento y la agencia Engloba, nos dice adiós.
                p.subtitulo
                  | Publicado el 14 de febrero de 2013.
                  br
                  span Desde Facebook.
          .circulo.g8(data-columna='10', data-fila='10', data-globo='g8')
            a(href='https://www.facebook.com/photo.php?fbid=481848225206721&set=a.422608284464049.98221.282634465128099&type=1&theater', target='_blank')
              .sprite.sp8
              .leyenda
                p.titulo En breve, la web de Nadie es perfecto, una productora de cine valenciana.
                p.subtitulo
                  | Publicado el 5 de febrero de 2013.
                  br
                  span Desde Facebook.
          .circulo.g9(data-columna='10', data-fila='7', data-globo='g9')
            a(href='https://www.facebook.com/photo.php?fbid=424853754239502&set=a.422608284464049.98221.282634465128099&type=1&theater', target='_blank')
              .sprite.sp9
              .leyenda
                p.titulo
                  | ¡Prueba superada! En cuatro días hemos conseguido desarrollar un minijuego (con gravedad y física) para Kelme en Facebook.
                p.subtitulo
                  | Publicado el 1 de octubre de 2012.
                  br
                  span Desde Facebook.
          .circulo.g10(data-columna='13', data-fila='4', data-globo='g10')
            a(href='https://www.facebook.com/photo.php?fbid=479661905425353&set=a.422608284464049.98221.282634465128099&type=1&relevant_count=1', target='_blank')
              .sprite.sp10
              .leyenda
                p.titulo
                  | Con la magia de HTML5 y un poco de sentido del humor, la agencia Intacto nos enseña que no siempre las cosas son lo que parecen.
                p.subtitulo
                  | Publicado el 1 de febrero de 2013.
                  br
                  span Desde Facebook.
