#hint1b
section#services-top
    section#services-top-desktop(data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
      .container
        h3.header.lateral Fórmulas del siglo XX en los canales del siglo XXI

section#services
    .container
        .row.divide
          .span12
            ul.thumbnails
              li.span4
                .thumbnail
                  .icono.bici
                  h4 Propósito
                  p
                    | Bueninvento es una agencia interactiva constituida en 2009 con un firme propósito: humanizar la comunicación digital. Nuestros proyectos nacen para conectar
                    strong ideas y personas
                    | en los canales tecnológicos del modo más orgánico y fluido posible.
              li.span4
                .thumbnail
                  .icono.nike
                  h4 Trayectoria
                  p
                    | Desde su fundación, por nuestra agencia han pasado más de 20 profesionales, hemos desarrollado cerca de 200 proyectos para más de 100 clientes y nos hemos mudado dos veces hasta llegar a nuestro actual emplazatmiento en el centro de Valencia.
              li.span4
                .thumbnail
                  .icono.mac
                  h4 Experiencia
                  p
                    | Durante estos casi cinco años, nuestro equipo ha ofrecido soluciones de comunicación en el ámbito digital a pequeñas y grandes marcas, agencias de publicidad y editoriales.
            #ticlientes.subtitular.span12
              h3 Nuestros clientes
              h5 Una relación basada en la confianza
              p.span10
                | Respaldados por un equipo multidisciplinar, en Bueninvento hemos elaborado estrategias digitales y campañas de social media, diseñado sitios webs, aplicaciones móviles, e incluso desarrollado redes sociales. Entre nuestros clientes: Famosa, Kelme, el Grupo Borges, Consum, el PSOE, el Grupo Meydis, Culdesac o Engloba-Adviti.
              .sprite.visible-phone.spclientes6
        include sections/clientes