#vistaproyectos
    #proheader
        h1.titulo
          //
             TEXTO TÍTULO 
        br
        h2.subtitulo
          //
             TEXTO SUBTÍTULO 
        br
        .mascaimg
          //
             IMAGEN PRINCIPAL 
          img(onload='fadeaIn(this)', src='', alt='')
        br
        #masinfo.container
          #mastitulos
            h3.acerca.span6
              | Acerca del proyecto
            h3.funciones.span4
              | Nuestras funciones
          #mascontenidos
            .acerca.span6
              h3.visible-phone
                | Acerca del proyecto
              p
                //
                   TEXTO DE ACERCA DEL PROYECTO 
            .funciones.span4
              h3.visible-phone
                | Nuestras funciones
              p
                //
                   TEXTO DE NUESTRAS FUNCIONES 
      #procuerpo
        .procentra
          h1
            //
               TÍTULO CENTRADO 
          .linea
          h5
            //
               SUBTÍTULO CENTRADO 
          //
             IMAGEN CENTRADA 
          img(src='', alt='')
          .columna50.izqu
            h1
              //
                 TITÚLO 50 IZQUIERDA 
            p
              //
                 TEXTO 50 IZQUIERDA 
          .columna50
            //
               IMAGEN 50 DERECHA 
            img(src='', alt='')
          .columna65.izqu
            //
               IMAGEN 65 IZQUIEDA 
            img(src='', alt='')
          .columna35
            h5
              //
                 SUBTÍTULO 35 DERECHA 
            p
              //
                 TEXTO 35 DERECHA 
        //
           FIN PROCENTRA 
