doctype 5
html(lang="es")
  head
    include includes/head
  body
    include includes/header
    include includes/topBar
    #supercontenedor
      include sections/intro
      include sections/principios
      include sections/capacidades
      include sections/casos
      include sections/equipo
      include sections/mapa
    include sections/proyectos
    include includes/footer
    include includes/foot